<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="mt-4">
    <h3>Đăng ký sản phẩm</h3>
    <form method="post" action="/courses/store">
  <div class="mb-3">
    <label for="name" class="form-label">Sản Phẩm</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Mô tả</label>
    <input type="text" class="form-control" id="description" name="description">
  </div>
  <div class="mb-3">
    <label for="videoId" class="form-label">Video ID</label>
    <input type="text" class="form-control" id="videoId" name="videoId">
  </div>
   <div class="mb-3">
    <label for="image" class="form-label">Hinh anh</label>
    <input type="text" class="form-control" id="videoId" name="image">
  </div>
  
  <button type="submit" class="btn btn-warning">Thêm sản phẩm</button>
</form>
</div>
</body>
</html>