<div class="mt-4">
    <div class="row item">
        <div class="col-lg-3">
            <a href="/courses/create">
            <button>Đăng ký thêm sản phẩm</button>
            </a>
        </div>
        <div class="col-lg-9">
            <h2>{{learn.name}}</h2>
            <iframe
                width="800"
                height="600"
                src="https://www.youtube.com/embed/{{learn.videoId}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            ></iframe>
            <p>{{learn.description}}</p>
        </div>
    </div>
</div>